langchain
langchain-community
langchain-text-splitters
langchain-openai
langchain-chroma
langchain-experimental

unstructured[all-docs]==0.11.8
unstructured-client==0.16.0

pdf2image
pypdf
python-pptx
openpyxl

chromadb
streamlit
python-dotenv